@media (max-width: 1030px) {

    /*Home section*/
     .home-text {
         margin-top: 35vh;       
     }
     
     .home-text h1{
         font-size: 45px;
         transition: all ease-out 2s;
     }
 
     /*Coffee Section*/
     #coffee{
         margin-top: 280px;
     }
     .beons-section {
         flex-wrap: wrap;
     }
     .beons-box {
         margin: 20px 0;
     }
 }
 @media (max-width: 935px) {
 
    .home-text {
        margin-top: 30vh;       
    }
    
    .home-text h1{
        font-size: 35px;
    }

     /*Coffee Section*/
     #coffee{
        margin-top: 250px;
    }

    /*Cold Coffee Section*/
    .cold-coffee-section {
        flex-wrap: wrap;
    }
    .cold-coffee-box {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
 
    .home-text {
        margin-top: 30vh;       
    }
    
    .home-text h1{
        font-size: 35px;
    }

     /*Coffee Section*/
     #coffee{
        margin-top: 170px;
    }
    .coffee-section {
        flex-wrap: wrap;   
    }
    .coffee-box {
        margin: 20px 0;
    }
}


