* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid ;
    height: 12vh;
}
.logo {
    margin-left: 20px;
}
.logo img {
    width: 62px;
    border-radius: 12px;
}
nav {
    margin-right: 20px;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    background-color: rgb(83, 83, 30);
    padding: 5px 12px;
    color: white;
    border-radius: 4px;
    transition: all linear 1s;
}
a:hover {
    background-color: green;
}