* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body {
    background: linear-gradient(rgba(85, 76, 69, 0.395),rgba(196, 151, 87, 0.395));
    font-family: sans-serif;
}
/*Header style*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(85, 76, 69, 0.395),rgba(196, 151, 87, 0.395));
    height: 12vh;
}
.logo {
    margin-top: 10px;
    margin-left: 20px;
}
.logo img {
    width: 62px;
    border-radius: 12px;
    mix-blend-mode:darken;
}
nav {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    background-color: rgb(123, 111, 89);
    cursor: pointer;
    padding: 5px 12px;
    color: rgb(217, 205, 205);
    border-radius: 4px;
    transition: 1s ease;
}
a:hover {
    background-color: rgb(61, 81, 61);
}

/*Home Section style*/
.home {
    display: flex;
}
.home .image img{
    position: absolute;
    width: 100%;
    /* height: auto; */
    height: 100vh;
    mix-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}
.home-text {
    position: relative;
    color: rgb(123, 111, 89);
    margin-top: 40vh;
    margin-left: 50px;
}
.home-text h1{
    font-size: 50px;
    line-height: 1;
    font-weight: bold; 
    transition: all ease-out 2s;
}
.home-text h1:hover {
    color: white;
}
.home-text p {
    margin-left: 12px;
}
.home-text p:hover {
    color: white;
    transition: all ease 2s
}
.home-text button {
    margin-top: 25px;
    margin-left: 120px;
    padding: 10px 10px;
    background: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(123, 111, 89);
    transition: linear 2s;
    box-shadow: 2px 2px 5px 5px rgba(123, 111, 89,0.395);
}
.home-text button:hover {
    background-color: rgb(123, 111, 89);
    font-weight: bold;
    color: #fff;
    border: none;
}
/*Coffee Section*/
#coffee{
    margin-top: 220px;
    text-align: center;
    text-decoration: underline;
    color: rgb(123, 111, 89);
}
.coffee-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}
.coffee-box {
    width: 250px;
    height: 320px;
    border: none;
    background: linear-gradient rgba(85, 76, 69, 0.395),rgba(196, 151, 87, 0.395);
    box-shadow: 2px 2px 5px 5px rgba(123, 111, 89,0.395);
    border-radius: 12px;
    transition: 1s ease;
}
.coffee-box:hover {
    transform:rotate(3deg);
}
.coffee-box img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.coffee-box h3 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 8px;
}
.coffee-box p {
    text-align: center;
    color: #fff;
    margin-top: 8px;
}
.coffee-box h4 {
    text-align: center;
    color: #fff;
    margin-top: 8px;
}

.img-2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.img-2 img {
    background-position: center;
    width: 400px;
    mix-blend-mode:darken;
    height: 200px;
}
.img-2 p {
    color: rgb(98, 70, 50);
    margin-top: 12vh;
}
/*Cold Coffee Section*/
#cold-coffee {
    margin-top: 10vh;
    text-align: center;
    text-decoration: underline;
    color: rgb(123, 111, 89);
}
.cold-coffee-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.cold-coffee-box {
    width: 220px;
    height: 250px;
    border: 5px solid #fff;
    background-color: #fff;
    transition: 1s ease;
}
.cold-coffee-box:hover {
    background-color: rgb(187, 179, 171);
    border: 5px solid rgb(187, 179, 171);
}
.cold-coffee-box img {
    width: 220px;
    height: 210px;
    mix-blend-mode: darken;
}
.cold-coffee-box h4 {
    text-align: center;
    margin-top: 7px;
}
/*Beons Section*/
/*h2 id beons*/
#beons {
    margin-top: 10vh;
    text-align: center;
    text-decoration: underline;
    color: rgb(123, 111, 89);
}
.beons-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.beons-box {
    width: 250px;
    height: 250px;
    border: none;
    background: linear-gradient rgba(85, 76, 69, 0.395),rgba(196, 151, 87, 0.395);
    box-shadow: 2px 2px 5px 5px rgba(123, 111, 89,0.395);
    border-radius: 12px;
    transition: 1s ease;
}
.beons-box:hover {
    background-color: rgb(187, 179, 171);
}
.beons-box img {
    width: 100px;
    position: relative;
    top: -25px;
    left: 75px;
    mix-blend-mode: darken;
    border-radius: 12px;
}
.beons-box h3,p {
    text-align: center;
    color: rgb(123, 111, 89);
}
/*Footer Section*/
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(rgba(0,0,0,0.495),rgba(0,0,0,0.495));
    /* background-color: rgb(46, 42, 42); */
}
.footer-box {
    width: 150px;
    height: 150px;
    /* border: 2px solid #fff; */
    text-align: center;
    color: #fff;
    padding-top: 12px;
    line-height: 2;
}
.footer-box p {
    color: #fff;
}
.footer-box img{
    width: 30px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #fff;
}